<!doctype html>
<head>
    <title>Сервер для виджетов Samsung smart tv</title>
</head>
<body>
<div><p style="text-align: left;">
    <h2>Установка виджета на Samsung С и B</h2>
    <p><strong>Установку виджетов на телевизор серии C или B необходимо начинать с создания пользователя, который в
        дальнейшем будет називаться «Develop». Для этого необходимо:</strong></p>
    <ul>
        <li>Нажать Internet TV;</li>
        <li>Перейти в настройки;</li>
        <li>Создать нового пользователя, выбрав для него тип «Develop»;</li>
        <li>Установить для него.</li>
    </ul>
    <p><strong>Теперь перейдем непосредственно к установке виджета для Samsung серии B и C.</strong></p>
    <ul>
        <li>Перезагрузите ТВ;</li>
        <li>Нажмите кнопку «Internet TV», а потом «А»;</li>
        <li>Выберите пользователя, которого вы только что создали и введите свой PIN код для входа;</li>
        <li>Зайдите в меню и перейдите в настройки виджета;</li>
        <li>Теперь выберите пункт «Developer», а в нем «IP Address setup»;</li>
        <li>Здесь вам потребуется ввести необходимый IP адрес: <strong>{{ ip }}</strong>
        </li>
        <li>Теперь вернитесь назад в «Developer», выберите пункт «Synchronize user applications» и подтвердите свой
            выбор, нажав кнопку «OK».
        </li>
    </ul>
    <h2>Самсунг серии D</h2>
    <p>Устанавливая программы на телевизоры данной модели также необходимо начинать с регистрации нового пользователя.
        Чтобы сделать это нажмите на кнопку «Smart HUB» расположенную на пульте, а после на кнопу «А», чтобы войти в
        меню. Дальше создание нового пользователя ничем не будет отличаться от этого же процесса, описанного выше.</p>
    <p><strong>Завершив процесс создания пользователя можно переходить к установке приложений. Для этого:</strong></p>
    <ul>
        <li>Нажмите на кнопку «D»;</li>
        <li>Перейдите в раздел «Developer»;</li>
        <li>Выберите пункт «Server IP» и введите <strong>{{ ip }}</strong> в появившееся окошко;</li>
        <li>Теперь вам нужно нажать на «Synchronize». В результате будут установлены виджеты;</li>
        <li>Выйдите полностью из установки, перейдя в основное меню;</li>
        <li>Нажмите на кнопку «А», расположенную на пульте дистанционного управления, и выйдите из учетной записи;</li>
        <li>Теперь выйдите из Smart TV, а после зайдите в него обратно;</li>
        <li>Чтобы найти установленные программы, опуститесь вниз списка.</li>
    </ul>
    <h2>Серия Е</h2>
    <p>Здесь для регистрации пользователя также потребуется нажать на кнопу SmartHub, а после на кнопку «А» красного
        цвета. Перед вами появится надпись «Учетная запись Samsung». В свободное поле введите develop и запишите
        где-нибудь пароль, который сгенерирует для вас телевизор. После этого нажмите «Вход» и перейдите к установке.
        Чтобы сделать это, необходимо:</p>
    <ul>
        <li>Зайти под своим зарегистрированным именем;</li>
        <li>Перейти в раздел «Сервис». Для этого нажмите Tools на ДУ пульте;</li>
        <li>Выберите пункт «Разработка (Developer)» зайдя в настройки;</li>
        <li>Теперь выберите пункт «IP-адрес» и укажите в пустом поле IP <strong>{{ ip }}</strong>;</li>
        <li>Обновите список программ, нажав на «Синхронизацию приложений пользователя», в разделе «Разработка».</li>
    </ul>
    <h2>Samsung F</h2>
    <p><strong>На Самсунг серии F создать нового пользователя сложнее, чем на других устройствах, поэтому рассмотрим
        данный вопрос детальней. Итак, для создания учетной записи под именем «Develop» потребуется:</strong></p>
    <ul>
        <li>Нажать кнопку «Меню» или «Misc» на сенсорном пульте ДУ и перейти в меню использую стрелки и экранный
            пульт;
        </li>
        <li>Зайти в «Функции Smart»;</li>
        <li>Теперь попадите в свою учетную запись, выбрав ее из списка;</li>
        <li>В «Эл.п.» напишите develop, а в поле «пароль» – sso1029dev!;</li>
        <li>Поставите галочку возле надписи «Запомнить пароль», нажмете на вход и выйдите из меню.</li>
    </ul>
    <p><strong>Теперь можно переходить к установке:</strong></p>
    <ul>
        <li>Нажмите на SmartHub и перейдите к дополнительным приложениям;</li>
        <li>Зайдите в параметры и выберите «IP Settings»;</li>
        <li>В свободном поле пропишите IP адрес <strong>{{ ip }}</strong>;</li>
        <li>После этого необходимо обновить список программ, для чего потребуется нажать на «Start App Sync»;</li>
        <li>Если после этого скаченные программы не появятся в списке, перезапустите ТВ.</li>
    </ul>
    <h2>Samsung H</h2>
    <p><strong>Чтобы установить приложение на телевизор данной модели вам нужно будет:</strong></p>
    <ul>
        <li>Перейти в SmartHub и выбрать пункт «Samsung Account»;</li>
        <li>Перед вами появится новое меню, в котором нужно будет выбрать «Log in», а далее нажать на «Sign in»;</li>
        <li>В открывшемся окне понадобиться ввести логин «develop». При этом пароль указывать не нужно. Достаточно будет
            поставить галочку и нажать «Sign in»;
        </li>
        <li>Теперь нужно зайти в SmartHub, навести пульт на какую-нибудь программу, и зажать середину крестовины на
            пульте. Удерживайте ее до тех пор, пока не появится меню синхронизации;
        </li>
        <li>В нем выберите «IP Setting» и в появившемся поле введите айпи адрес <strong>{{ ip }}</strong>. Каждая группа цифр должна
            подтверждаться нажатием крестовины;
        </li>
        <li>Вызовите еще раз меню синхронизации и выберите пункт «Start User App Sync»;</li>
        <li>Перед вами появится запрос на установку пользовательских приложений, согласившись на который вы сможете
            установить приложения на главную или дополнительную страницу Хаба. После того, как установка виджетов на
            Samsung Smart TV&nbsp; завершится, вы увидите стрелочки, сообщающие об этом;
        </li>
        <li>Чтобы увидеть установленные программы необходимо выйти из Хаба и зайти заново.</li>
    </ul>
</div>
</body>